/*vars*/

$container-width: 280px;
$font-family: 'Open Sans', 'Arial', sans-serif;
$font-weight: 400;
$font-size: 14px;

/*colors*/

$bg-color: #fff;
$grey: #222;

$text-color: black;

/* responsive */
$tablet-width: 700px;
$desktop-width: 1200px;
