/*vars*/

$container-width: 280px;
$font-family: 'Roboto', 'Arial', sans-serif;
$font-family-title: 'Gilroy', 'Times New Roman', serif;
$font-weight: 300;

/*colors*/

$text-color: #000;
$bg-color: #fff;
$grey: #222;
$dark-grey: #303030;
$light-grey: #777;
$red: #e74c3c;


/* responsive */
$xs: 480px;
$sm: 768px;
$md: 992px;
$lg: 1200px;
$xl: 1650px;


