.features__wrapper {
  @include container;
}

.features__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.features__item {
  width: 100%;
  margin-bottom: 80px;
}


//responsive

@include tablet {

  .features__item {
    max-width: 48%;
  }
}

@include desktop {

  .features__item {
    max-width: 30%;
  }
}