.projects__sec-title {
  text-align: center;
}

.projects__link {
  color: #000;
  opacity: 0.46;
  font-size: 0.9em;
  font-weight: 300;
  transition: opacity 0.3s;

  &:hover {
    opacity: 0.7;
  }

  &:after {
    content: "";
    display: block;
    width: 1px;
    height: 41px;
    opacity: 0.46;
    background-color: #000;
    margin: 0 auto;
  }
}

.projects__item {
  position: relative;
  padding-top: 70px;

  &:first-child {
    background-color: #bdcbd7;
    z-index: 10;
  }

  &:nth-child(2) {
    background-color: #fed500;
    z-index: 9;

    .projects__img {
      max-width: 80%;
      margin: 0 auto;
    }
  }
}

.project__info {
  @include container;
  text-align: center;
  padding-bottom: 60px;
}

.projects__results {
  text-align: left;
}

.projects__title {
  font-family: $font-family-title;
  font-size: 3em;
  line-height: 1;
  font-weight: 800;
  margin-bottom: 40px;
}

.projects__results {
  margin-bottom: 60px;
}

.projects__result {
  font-size: 1.5em;
  font-weight: 300;
  line-height: 1.1;
  display: flex;
  align-items: center;
  margin-bottom: 15px;

  &:before {
    content: "";
    width: 17px;
    height: 1px;
    background-color: #000;
    margin-right: 10px;
  }
}

.projects__all-link {
  margin: 0 auto;
  text-align: center;
  padding-top: 68px;
  padding-bottom: 68px;
  background-color: $dark-grey;
  background-image: url('./../images/decor/bg6.svg'), url('./../images/decor/bg2.svg'), url('./../images/decor/bg3.svg'), url('./../images/decor/bg4.svg'), url('./../images/decor/bg5.svg');
  background-repeat: no-repeat;
  background-position: 30% -8px, 75% 40%, 5% 40%, 25% 60%, 95% 60%;
}


//responsive

@include laptop {

  .project__info {
    @include clearfix;
    text-align: left;
  }

  .project__info-wrap {
    width: 50%;
    float: right;
  }

  .projects__img {
    position: absolute;
    top: 70px;
    left: 0;
  }

  .projects__item {
    height: 570px;
    padding-top: 120px;

    &:nth-child(2n) {

      .project__info-wrap {
        float: left;
        margin-right: auto;
      }

      .projects__img {
        left: auto;
        right: 0;
      }
    }

    &:first-child {

      .project__info-wrap {
        width: 30%;
      }

      .projects__img {
        max-width: 65%;
      }
    }

    &:nth-child(2) {

      .projects__img {
        max-width: 38%;
        margin-right: 100px;
      }
    }

    &:nth-child(3) {
      .projects__img {
        max-width: 40%;
      }
    }
  }

  .projects__title {
    font-size: 3.43em;
  }

  .projects__result {
    font-size: 1.71em;
  }
}

@include desktop {

  .projects__item {
    height: 700px;
    padding-top: 200px;

    &:first-child {

      .project__info-wrap {
        width: 30%;
      }

      .projects__img {
        max-width: 60%;
      }
    }

    &:nth-child(2) {

      .projects__img {
        max-width: 35%;
        margin-right: 150px;
      }
    }
  }

  .projects__img  {
    top: 80px;
  }
}

@include large-desktop {

  .projects__item {
    height: 830px;
    padding-top: 230px;

    &:nth-child(2) {

      .projects__img {
        margin-right: 250px;
      }
    }
  }
}

