.services__wrapper {
  @include container;
}

.section__sec-title {
  font-size: 3.43em;
  font-family: $font-family-title;
  font-weight: 800;
  text-align: center;
  margin-bottom: 75px;
}

.services__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.services__item {
  width: 100%;
  margin-bottom: 70px;
}

.services__title {
  font-size: 1.36em;
  font-weight: 400;
}

.services__text {
  font-size: 1em;
  font-weight: 300;
}


//responsive

@include tablet {

  .services__item {
    // flex-basis: 48%;
    max-width: 48%;
  }
}

@include desktop {

  .services__item {
    // flex-basis: 30%;
    max-width: 30%;
  }
}