.services {
  background-image: url('./../images/decor/tes1.svg'), url('./../images/decor/tes2.svg'), url('./../images/decor/tes3.svg'), url('./../images/decor/tes4.svg'), url('./../images/decor/tes5.svg');
  background-repeat: no-repeat;
  background-position: 2% 15%, 15% 100%, -5px 70%, 95% 100%, 95% 10%;
}

.services__wrapper {
  @include container;
  padding-top: 108px;
}

.section__sec-title {
  font-size: 3em;
  font-family: $font-family-title;
  font-weight: 800;
  text-align: center;
  margin-bottom: 75px;
}

.services__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.services__item {
  width: 100%;
  margin-bottom: 70px;
  text-align: center;
}

.services__title {
  font-size: 1.36em;
  font-weight: 400;
}

.services__text {
  font-size: 1em;
  font-weight: 300;
  text-align: left;
}


//responsive

@include tablet {

  .services__item {
    max-width: 45%;
    text-align: left;
  }

  .section__sec-title {
    font-size: 3.43em;
  }


}

@include desktop {

  .services__item {
    max-width: 30%;
  }
}